{{!< default}}

<aside role="banner" class="cover">
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <a href="{{@blog.url}}" class="cover-logo" data-pjax>
        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
      </a>
    {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    <h2 class="cover-description">{{@blog.description}}</h2>
  </div>
</aside>

<section class="wrapper">
  <div class="wrapper-container">
    {{> custom/profile this}}

    {{> footer this}}
  </div>
</section>
